# Ignore node_modules directory
node_modules/

# Ignore build output directory
dist/

# Ignore IDE or editor-specific files
.idea/
.vscode/

# Ignore log files
*.log

# Ignore environment files
src/environments/*.ts
