
<app-template> </app-template>
  <div class="reportsNav">
    <div class="reportsDiv">
    <nav class="navbar navbar-expand-lg navbar-light">
        
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link" [routerLink]="['/reports/attendance']" routerLinkActive="active-link"><strong> Attendance Report</strong></a>
            <a class="nav-item nav-link" >Fee Report</a>
            <!-- <a class="nav-item nav-link" href="#">Attendance</a> -->
            <!-- <a class="nav-item nav-link" [routerLink]="['/student/viewStudent']" routerLinkActive="active-link"><strong> View Students </strong></a> -->
          </div>
        </div>
      </nav>
    </div>
    <router-outlet></router-outlet>
  </div>

 
