<app-template> </app-template>
<div class="marksNav">
  <div class="marksDiv">
    <nav class="navbar navbar-expand-lg navbar-light">
      <h1 class="my-auto mx-1 fw-500">Marksheet</h1>
      <div>
        <select class="custom-select" [(ngModel)]="filter1">
          <!-- Dropdown options for Filter 1 -->
          <option value="">Select Class...</option>
          <option *ngFor="let option of classOptions" [value]="option.value">{{ option.label }}</option>

        </select>
      </div>
      <!-- <div>
        <select class="custom-select" [(ngModel)]="filter2">
         
          <option value="">Select Year...</option>
          <option *ngFor="let option of annualYearOptions" [value]="option.value">{{ option.label }}</option>

        </select>
      </div> -->
      <div>
        <button class="btn btn-success" (click)="MarksGridRender()">
          GET
        </button>
      </div>
      <div class="d-flex gap-2 justify-content-end w-100 mx-2">

        <div (click)="getTemplate()" class="btn " style=" width:150px; background-color: #3f51b5;">
          <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="white" class="bi bi-download my-auto"
            viewBox="0 0 16 16">
            <path
              d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5" />
            <path
              d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z" />
          </svg>
        </div>

        <div (click)="uploadTemplate()" class="btn " style="width:150px; background-color: #B22222;">
          <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="white" class="bi bi-upload"
            viewBox="0 0 16 16">
            <path
              d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5" />
            <path
              d="M7.646 1.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 2.707V11.5a.5.5 0 0 1-1 0V2.707L5.354 4.854a.5.5 0 1 1-.708-.708z" />
          </svg>
        </div>

      </div>
    </nav>
  </div>
  <div class="mainDiv">
    <div class="mx-2">
      <ag-grid-angular class="ag-theme-quartz mx-2 mt-3 displayGrid text-center" [rowData]="rowData"
        [columnDefs]="colDefs">
      </ag-grid-angular>
      <div class="pagination mx-2">
        <div class="pagination-options">
          <span>Show:</span>
          <select class="mx-1" (change)="onPageSizeChange($event)">
            <option value="10">10</option>
            <option value="25">25</option>
            <option value="50">50</option>
            <!-- Add more options as needed -->
          </select>
          <span>of {{ totalItems }} items</span>
        </div>

        <div class="page-info">

          <span>Page:</span>

          <span (click)="onPageClick(page)" *ngFor="let page of totalPages" [class.active]="currentPage === page">{{
            page }}</span>
        </div>
      </div>
    </div>
  </div>
  <div   id="contentToConvert"  ngxPrint >
    <!-- Your HTML content here -->
    <app-half-yearly-marksheet [marksheetData]="marksheetData" [commonMarks]="commonMarks"> </app-half-yearly-marksheet>
  </div>
  <router-outlet></router-outlet>
</div>